 
 <%- include('header') %>
 <!-- main container -->
 <div class="user_container container d-flex align-items-start justify-content-center w-50  mt-5 ">
    <!-- login container -->

    <div class=" container-fluid text-center">
        <h1 class="bg-info">Update Panel</h1>
        <div class="form_controller">
            <form action="/update/<%= user._id %>"method="POST">` 
            <div class="mb-3">

                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"placeholder="Enter name" value="<%= user.name %>" name="name" required>
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter place"type="batch" value="<%= user.place %>"  name="place" required>
            </div>
            <div class="mb-3">

                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email"  value="<%= user.email %>"  name="email" required>
            </div>
           

            <button type="submit" class="btn btn-primary w-50">update</button>
            <br>
           <a href="/dashboard">back</a>
            </form>
           
        </div>

    </div>
</div>


<%- include('footer') %>